
.nav {
  margin: 1rem 25rem 5rem 25rem;
  display: flex;
  justify-content: center;
  border: solid 2px cornflowerblue;
  border-radius: 50px;
}
.form {
  margin: 1rem 30rem 1rem 30rem;
  border-radius: 30px;
  border: 1px solid cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    margin: 0 10rem 0 10rem;
    display: flex;
    justify-content: center;
  }
  label {
    margin: 0 10rem 0 10rem;
    display: flex;
    justify-content: left;
  }
  select {
    margin: 0 10rem 0 10rem;
    display: flex;
    justify-content: left;
  }
  span {
    width: 100%;
    margin: .5rem 10rem 1rem 10rem;
    display: flex;
    justify-content: start;
  }
}

