

<form action="index.php?page=app/login" method="post" class="form">
    <label for="username">Identifiant</label>
    <input type="text" id="username" name="username" required><br>
    <label for="pwd">Mot de passe</label>
    <input type="password" id="pwd" name="password" required><br>
    <input type="submit">
    <span>Vous n'êtes pas encore inscrit ?&ensp; <a href="index.php?page=view/create">Inscrivez-vous!</a></span>
</form>